.footer-bg{
  background-color: var(--cor-12);
}
.footer{
  display: grid;
  grid-template-columns: 3fr 5fr 4fr;
  gap:40px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer h3	{
  margin-bottom: 32px;
}
.footer-contato ul{
  margin-bottom: 32px;
}
.footer-contato li:nth-child(even):after{
  content: "";
  display: block;
  max-width: 360px;
  height: 2px;
  background-color: var(--cor-11);
  margin-top: 16px;
}

.footer li{
  margin-bottom: 16px;
}
.footer-redes{
  display: flex;
  gap: 32px;
}

.footer a:hover{
  color: var(--cor-0);
}

.footer-copy{
  grid-column: 1/-1;
  margin-top: 40px;
}
@media (max-width: 1200px) {
  .footer {
    grid-template-columns: 2fr 3fr 2fr;
    gap: 32px;
    padding: 48px 0;
  }
}

/* 2) Tablet Paisagem / Largura ≤ 992px */
@media (max-width: 992px) {
  .footer img {
    grid-template-columns: 1fr 1fr;
    gap: 32px;
    padding: 40px 0;
  }
  .footer {
    grid-template-columns: 1fr 1fr;
    gap: 32px;
    padding: 40px 0;
  }
  /* Faz o copyright ficar embaixo das colunas */
  .footer-copy {
    grid-column: 1 / -1;
    text-align: center;
    margin-top: 32px;
  }
}

/* 3) Tablet Retrato / Largura ≤ 768px */
@media (max-width: 768px) {
  .footer img {
    grid-template-columns: 1fr 1fr;
    gap: 32px;
    padding: 40px 0;
  }
  .footer {
    grid-template-columns: 1fr;
    gap: 24px;
    padding: 32px 0;
    text-align: center;
  }
  .footer-contato,
  .footer-informacoes {
    margin: 0 auto;
  }
  .footer-redes {
    justify-content: center;
  }
  .footer-copy {
    margin-top: 24px;
  }
}

/* 4) Celular / Largura ≤ 576px */
@media (max-width: 576px) {
  .footer img {
    grid-template-columns: 1fr 1fr;
    gap: 32px;
    padding: 40px 0;
    align-self: center;
  }
  .footer {
    padding: 24px 0;
    gap: 16px;
  }
  .footer h3 {
    margin-bottom: 16px;
  }
  .footer-contato ul,
  .footer-informacoes ul {
    margin-bottom: 16px;
  }
  .footer-redes {
    gap: 16px;
  }
  .footer-copy {
    font-size: 0.9rem;
    margin-top: 16px;
  }
}